.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    margin-bottom: 32%;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px,1fr));
    grid-gap: 30px;
    place-items: center;
    margin: 120px auto 40px;
    width: 95%;
    padding: 0 25px;
    overflow: auto;
 }


 //product card styling

 .product-card {
    width: 375px;
    img {
        width: 100%;
        height: 175px;
        border-radius: 0 10px 10px 10px;
        object-fit: cover;
    }
    .name-price {
        margin: 10px 0;
        font-size: 0.9rem;
        font-family: product-sans-bold;
        i {
            font-size: 0.8rem;
        }
    }
    .description {
        font-size: 0.75rem;
        line-height: 1.1rem;
        opacity: 0.6;
    }
    .guarantee {
        margin: 15px 0;
        font-size: 0.75rem;
        font-family: product-sans-bold;
        opacity: 0.9;
        color: #107901;
    }
    .border {
        width: 100%;
        height: 1px;
        background-color: #a9a9a9;
        opacity: 0.3;
    }
    .guarantee {
        img {
            width: 20px;
            height: 20px;
            object-fit: contain;
            margin-right: 5px;
        }
    }
    .buttons {
        margin: 15px 0;
        .wishlist,.button {
            font-size: 0.75rem;
            font-family: product-sans-bold;
        }
        .wishlist {
            margin-right: 20px;
            opacity: 0.4;
            cursor: pointer;
        }
        .disabledtrue {
            cursor: not-allowed;
        }
        .button {
            padding: 10px 20px;
            border-radius: 0 0 5px 0;
        }
    }
}