.card-container{
    height: 100px;
    background-color: #eaeaea;
    border-radius: 2.5px;
    margin: 10px;
    .item-details{
        display: flex;
        position: relative;
        img{
            margin: 12.5px 5px 12.5px 12.5px;
            width: 60px;
            height: 75px;
            border-radius: 2.5px;
            object-fit: cover;
            object-position: top;
        }
        .name-price
        {
            width: 50%;
            margin: 14px 12.5px 12.5px 5px;
            font-size: 0.8rem;
            .name{
                margin-bottom: 5px;
                line-height: 1.1rem;
                max-height: 50px;
                max-width: 75%;
                overflow: hidden;
                font-weight: 500;
                opacity: 0.7;
                text-overflow: ellipsis;
                display: -webkit-box !important;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                white-space: normal;
            }
            .name:hover{
                max-width: 100%;
                -webkit-line-clamp: 4;
                overflow: visible;
            }
            .price{
                font-weight: 700;
            }
        }
        .remove
        {
            position: absolute;
            bottom: 12.5px;
            right: 12.5px;
            font-size: 0.75rem;
            font-weight: 400;
            color: #A50014;

        }
    }
}


@media only screen and (min-width: 776px) and (max-width:1200px){

    .card-container{
        height: 75px !important;
        .item-details{
            img{
                width: 50px !important;
                height: 50px !important;
            }
            .name-price{
                font-size: 0.6rem;
                .name{
                    max-height: 30px !important;
                    line-height: 0.6rem !important;
                    overflow: hidden;
                }
            }
            .remove{
                font-size: 0.6rem;
            }
        }
    }

}