.item-details-card{
    margin: 0 auto;
    width:250px;
    height: 400px;
    background-color: #fff;
    border-radius: 7.5px;
    box-shadow: 0 0 10px #fff;
    img{
        width: 100%;
        height: 240px;
        object-fit: cover;
        object-position: top;
        background-color: #f7f7f7;
        border-radius: 7.5px 7.5px 0 0;
    }
    .item-details{
        margin: 0 20px;
        .item-name{
            margin: 20px auto;
            height: 34px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box !important;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            white-space: normal;
        }
        .item-name:hover{
            -webkit-line-clamp: 3;
            overflow: visible;
        }
        .price-size{
            display: flex;
            justify-content: space-between;
            .price{
                font-weight: 700;
            }
            .sizes{
                display: flex;
            }
        }
        .buttons{
            display: flex;
            justify-content: space-between;
            margin: 20px auto 10px;
        }
        .button{
            width: 102.5px !important;
            height: 30px;
            font-size: 0.8rem;
            border-radius: 2.5px;
            color:#f7f2f3;
            box-shadow: 0 0 10px #fff;
        }
    }

}

.unclear-details{
    opacity: 0.5;
    cursor: not-allowed;
    button{
        cursor: not-allowed;
    }
}


@media only screen and (min-width: 776px) and (max-width:1200px){

    .item-details-card{
        width: 175px;
        height: 310px;
        img{
            width: 175px;
            height: 175px;
        }
        .item-details{
            .item-name{
                height: 30px;
            }
            .item-name,.price-size{
                font-size: 0.8rem;
                line-height: 0.9rem;
            }
            .price-size{
                margin-top: 20px !important;
            }
        }
        .button {
            width: 65px !important;
            height: 25px !important;
            font-size: 0.5rem !important;
        }
    }

}