textarea {
    max-height: 600px;
}

.blog-inputs {
    display: flex;
    flex-direction: column;
    height: 85%;
    .description, .title {
        background-color: #fafafa;
    }
    .error {
        color: #ff0000;
        font-size: 1.1rem;
        font-weight: 600;
        padding-bottom: 20px;
        font-family: Roboto slab;
    }
}

