@import "../../variable.scss";

.blog-description-container {
    position: relative;
    width: 50%;
    padding: 20px 0 75px;
    overflow: auto;
    background-color: var(--side-bar-background);
    .content-container {
        width: 85%;
        margin: 20px auto;
    }
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
    }
    .blog-details-description,.blog-details-title {
      width: 100%;
        height: 100%;
        border: none;
        outline: none;
        resize: none;
        color: var(--color-black);
        background-color: var(--side-bar-background);
    }
    .description {
      height: 27.5vh;
      max-height: 30vh;
      overflow: auto;
      overflow-x: hidden;
      word-wrap: break-word;
      word-break:normal;
    }
    .blog-details-description {
        font-size: 1.1rem;
        line-height: 1.5;
        font-family: IBM Plex sans;
        opacity: 0.8;
    }
    .edit-content, .cancel{
      margin-top: 50px;
      float: right;
      padding: 10px 20px;
      width: 150px;
      background-color: var(--secondary-color);
      color: var(--black);
    }
    .cancel {
      width: 100px;
    }
    .save-content {
      margin-top: 50px;
      margin-left: 20px;
      float: right;
      padding: 10px 20px;
      width: 150px;
      color: var(--color-white);
      background-color: var(--primary-color);
    }
    .blog-details-title {
      margin: 20px auto;
      font-size: 2rem;
      font-family: Roboto Slab;
    }
  

/* Custom bar loader styling */
.bar-loader,
.bar-loader:before,
.bar-loader:after {
  background: var(--primary-color);
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.bar-loader {
  color: var(--primary-color);
  text-indent: -9999em;
  margin: 88px auto;
  position: absolute;
  top:33%;
  left: 50%;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.bar-loader:before,
.bar-loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.bar-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.bar-loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
}