.modal {
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    background-color: rgba($color: var(--color-black), $alpha: 0.5);
    .modal-container {
        position: relative;
        width: 35%;
        height: 100vh;
        padding: 75px 50px ;
        background-color: var(--color-white);
        box-sizing: border-box;
        box-shadow: -1px 0px 2.5px 0px var(--grey-100);
    }
}
