.search-container {
    padding: 1.5rem;
    background-color: #e1e7eb;
    .search-heading {
        font-size: 1.3rem;
        font-weight: 700;
    }
    .search-sub-heading-one {
        margin: 2rem 0 1rem 0;
    }
    .search-sub-heading-two {
        margin-bottom: 1.5rem;
    }
    .search-sub-heading-one, .search-sub-heading-two {
        width: 35rem;
        font-size: 0.9rem;
        font-weight: 500;
        opacity: 0.7;
        line-height: 1.2;
    }
    input {
        width: 32.5rem;
        padding: 0.75rem;
        border: none;
        font-size: 0.9rem;
        &::placeholder {
            opacity: 0.5;
        }
    }
}