@import "../../variable.scss";

.blog-card,.selected {
    width: 85%;
    height: 175px;
    margin: 0 auto 25px;
    border-radius: 10px;
    background-color: var(--card-background);
    cursor: pointer;
    .blog-card-container {
        padding: 20px;
        .heading {
            display: -webkit-box;
            max-height: 100px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 1.5;
            font-size: 1.1rem;
            font-family: Roboto slab;
            font-weight: 500;
            opacity: 0.9;
            color: var(--color-black);
        }
        .blog-type{
            margin: 10px 0;
            font-size: 0.8rem;
            font-family: IBM Plex sans;
            font-weight: 500;
            color: var(--primary-color);
        }
        .description {
            display: -webkit-box;
            max-height: 100px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font-family: IBM Plex sans;
            font-weight: 400;
            opacity: 0.8;
            line-height: 1.5;
            overflow: hidden;
            color: var(--color-black);
        }
    }
}

.selected {
    background-color: var(--card-color) !important;
}